@charset "utf-8";

.dataviews-main-body {
  display: flex;
  gap: 10px;

  height: 100%;

  padding-top: var(--var-base-margin);
}

#dataviews-center-controller {
  width: 20%;
}

.dataviews-center-controller-inner {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-dataviews {
  flex: 1;
  
  height: 100%;
  width: 100%;
}